@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #5a0394;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6704a8;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 2s;
}

.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 10px;
  border-radius: 3rem;
}

.accordion-title {
  margin: 30px;
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 1rem;
}

.accordion-title.active {
  background-color: #ffffff;
  margin: 10px;
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: #c4c4c4;
  border-radius: 1rem;
}

.accordion-content.open {
  margin: 10px;
  display: block;
}
